<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connect_A_Bull.Properties.Settings.connectabullsqlConnectionString"
            connectionString="Data Source=group3-connect-a-bull.database.windows.net;Initial Catalog=connectabullsql;User ID=hancho;Password=BreakDown950:"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>